.app{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.animals-list{

    display:flex; /*Como se va a llenar el espacio y sus dimensiones*/
    flex-direction: row; /*Permite que los elementos se agreguen en la fila, es decri, horizontalmente*/
    flex-wrap: wrap; /*Permite que los elemtneots se apilen hacia abajo*/
    justify-content: center;
}

button{
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    width: 30%;
}